<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Dear user</h1>
<h2>You have successfully activated Two-factor authentication (2FA), Two-factor authentication (2FA) is a security method to protect the account.</h2>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
