<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Уважаемый пользователь</h1>
<h2>Вы успешно активировали Двухфакторная аутентификацию (2ФА), Двухфакторная аутентификация (2ФА) — это метод безопасности для защиты учетной записи.</h2>
<h2 class = 'bold'>Удачных сделок!</h2>
<h2 class ='bz'>Команда Bitzlato!</h2>
