<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Уважаемый пользователь</h1>
<h2>Ваш <b>пин-код</b> для <%= @record.currency %> получателя <%= @record.name %>: <b><%= @record.pin %></b>.</h2>
<h2 class = 'bold'>Удачных сделок!</h2>
<h2 class ='bz'>Команда Bitzlato!</h2>
