<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Dear user</h1>
<h2>Your <b>pin-code</b> for <%= @record.currency %> beneficiary <%= @record.name %> is <b><%= @record.pin %></b>.</h2>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
