<img src="https://bitzlato.com/static/lock_cat.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Hello!</h1>
<h2>Use this <b>unique link</b> or <b>pin code</b> to activate your new password for email <b><%= @email %></b></h2>
<h3 align="center">PIN CODE: <%= @record.pin_code %></h3>
<div align="center">
  <a href="<%= @record.domain %>/accounts/password_apply?confirmation_token=<%= @record.token %>&lang=en" class ='btn' >Activate</a>
</div>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
