<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Hello!</h1>
<h2>New <%= @record.currency %> beneficiary <b><%= @record.name %></b> created!<br>Your <b>pin-code</b> for this beneficiary is <%= @record.pin %></h2>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
