<img src="https://bitzlato.com/static/lock_cat.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Приветствуем!</h1>
<h2>Используйте эту <b>уникальную ссылку</b> или <b>пин код</b> для активации нового пароля <b><%= @email %></b></h2>
<h3>ПИН КОД: <% @record.pin_code %></h3>
<div align="center">
  <a href="<%= @record.domain %>/accounts/password_apply?confirmation_token=<%= @record.token %>&lang=en" class ='btn' >Активировать</a>
</div>
<h2 class = 'bold'>Удачных сделок!</h2>
<h2 class ='bz'>Команда Bitzlato!</h2>
