<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Приветствуем!</h1>
<h2>Создан новый <%= @record.currency %> получатель <b><%= @record.name %></b>!<br>Ваш <b>пин-код</b> для этого получателя: <b><%= @record.pin %></b>.</h2>
<h2 class = 'bold'>Удачных сделок!</h2>
<h2 class ='bz'>Команда Bitzlato!</h2>
