<img src="https://bitzlato.com/static/lock_cat.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Hello!</h1>
<h2>Use this <b>unique link</b> to reset your password for email <b><%= @user.email %></b></h2>
<div align="center">
  <a href="<%= @record.domain %>/accounts/password_reset?reset_token=<%= @record.token %>&lang=en" class ='btn' >Reset</a>
</div>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
