<img src="https://bitzlato.com/static/support_pic.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">
Your account password has been changed!
</h1>
<h2>You have successfully changed the password on account <%= @record.email %> .</h2>
<h2>If it was not you who did this, we advise you to urgently contact the <a href="https://t.me/HELP_BITZLATO_BOT" target="_blank">support service</a>.</h2>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
