<img src="https://bitzlato.com/static/support_pic.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">
В Вашем аккаунте изменён пароль!
</h1>
<h2>Вы успешно изменили пароль на аккаунте <%= @record.email %>.</h2>
<h2>Если это сделали не Вы, советуем срочно обратиться в <a href="https://t.me/HELP_BITZLATO_BOT" target="_blank">службу поддержки</a>.</h2>
<h2 class = 'bold'>Удачных сделок!</h2>
<h2 class ='bz'>Команда Bitzlato!</h2>
