<img src="https://bitzlato.bz/static/enter_pic.png" alt="Enter" class ='mainImg'>
<h1 align="center">Внимание</h1>
<h2>Мы зарегистрировали попытку входа в Ваш аккаунт.</h2>
<h2 align="center">
  IP Address: <b><%= @record.user_ip %></b><br />
  User-agent: <b><%= @record.user_agent %></b>
</h2>
<h2>Если это были не Вы, то Ваш аккаунт может быть под угрозой. Рекомендуем срочно заменить пароль доступа к аккаунту, включить <a href = "https://bitzlato.bz/ru/knowledgebase/how_to_connect_2fa/">двухфакторную аутентификацию</a> и <a href ="https://bitzlato.bz/ru/knowledgebase/account_verification/">пройдите верификацию.</a></h2>
<h2 class = 'bold'>Удачных сделок!</h2>
<h2 class ='bz'>Команда Bitzlato!</h2>
