<img src="https://bitzlato.bz/static/enter_pic.png" alt="Enter" class ='mainImg'>
<h1 align="center">Attention</h1>
<h2>We registered an attempt to log into your personal profile.</h2>
<h2 align="center">
	IP Address: <b><%= @record.user_ip %></b><br />
	User-agent: <b><%= @record.user_agent %></b>
</h2>
<h2>If you haven't performed this operation, your account may be at risk. We strongly recommend that you check access to your personal profile and change your password.To avoid risks and improve the security of your personal profile, turn on <a href = "https://bitzlato.bz/ru/knowledgebase/how_to_connect_2fa/">two-factor authentication</a> and pass through <a href ="https://bitzlato.bz/ru/knowledgebase/account_verification/">verification</a>.</h2>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
