<h1 align="center">Congratulations!</h1>
<h2> You have been successfully verified. Now you can start trading!</h2>
<h2>
  For answers and tips on any topic, go to our <a href="https://bitzlato.com/knowledgebase/">knowledge center</a> or contact <a href="https://t.me/HELP_BITZLATO_BOT">support</a>
  <br/>
  To stay up-to-date on news, promotions, and giveaways, join our <a href="https://t.me/bitzlato_ru">Telegram community</a>
</h2>

<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
