<h1 align="center">Поздравляем!</h1>
<h2>Ваша заявка на верификацию №<%= @record.verification_id %> одобрена. Теперь Вы можете приступать к торговле!</h2>
<h2>
  Чтобы получить ответы и подсказки по любому вопросу, переходите в нашу <a href="https://bitzlato.com/ru/knowledgebase/">базу знаний</a> или обратитесь в <a href="https://t.me/HELP_BITZLATO_BOT">службу поддержки</a>
  <br/>
  Чтобы быть в курсе всех новостей, розыгрышей и акций, вступайте в наше сообщество в <a href="https://t.me/bitzlato_ru">Telegram</a>
</h2>
<h2 class = 'bold'>Удачных сделок!</h2>
<h2 class ='bz'>Команда Bitzlato!</h2>
