<h2>Поздравляем! Ваша заявка на верификацию в сервисе Bitzlato успешно одобрена!🥳 Наслаждайтесь P2P обменом, храните монеты и совершайте быстрый вывод!</h2>

<h2>Вы можете выбрать для себя удобный способ использования сервиса: ✅ Телеграм Мультибот: @BZ_CHANGE_BOT ✅ Веб-версия: bitzlato.net  ✅ Мобильное приложение: Play Market — https://bitzlato.club/playstore App Store — https://bitzlato.club/_appstore<h2>

<%- if @record.voucher.present? %>
  <h2>
    <%- amount = number_to_currency(@record.voucher[:amount], unit: @record.voucher[:cc_code], format: '%n %u', precision: 8, strip_insignificant_zeros: true) %>
    🎁 Дарим Вам приветственный бонус в размере <%= amount %> для совершения первой сделки! Чтобы получить подарок, кликните на ссылку: <%= @record.voucher[:links][:web] %>
  </h2>
<% end %>

<h2 class = 'bold'>Спасибо, что выбрали Bitzlato!</h2>
