<h2> Congratulations! Your application for verification in the Bitzlato service has been successfully approved!🥳 Enjoy P2P exchange, store coins and make a quick withdrawal!</h2>

<h2>You can choose a convenient way to use the service:<h2>
<h2>✅ Telegram Multibot: https://t.me/BZ_CHANGE_BOT<h2>
<h2>✅ Web version: bitzlato.net</h2>
<h2>✅ Mobile App:<h2>
<ul>
  <li>Play Market — https://bitzlato.club/playstore</li>
  <li>App Store — https://bitzlato.club/_appstore</li>
</ul>

<%- if @record.voucher.present? %>
  <h2>
    <%- amount = number_to_currency(@record.voucher[:amount], unit: @record.voucher[:cc_code], format: '%n %u', precision: 8, strip_insignificant_zeros: true) %>
    🎁 We give you a welcome bonus of <b><%= amount%></b> to replenish your wallet! Choose where you would like to receive a gift:
  </h2>
  <ul>
    <li>Web version: <%= @record.voucher[:links][:web] %></li>
    <li>Telegram chatbot: <%= @record.voucher[:links][:telegram] %></li>
  </ul>
<% end %>

<h2 class = 'bold'>Thank you for choosing Bitzlato!</h2>
