<img src="https://bitzlato.bz/static/community.png" alt="Bitzlato" class ='mainImg'>

<h1 align="center">
Welcome to the Bitzlato family!
</h1>
<h2>Especially for new users, we have prepared a lot of useful tips! Why is it worth checking them out?</h2>
<h2>👉 With their help, you will learn everything about comfortable trading in Bitzlato.</h2>
<h2>👉 We have specially made the materials easy to read so that you can learn about all the intricacies of trading right now using the examples of existing traders.</h2>
<h2>👉 Examples are easy to apply in practice, start learning from the mistakes of others!</h2>
<h2><b>Read on and start trading!</b></h2>

<div align="center">
  <a href="https://bitzlato.bz/knowledgebase/responsible-trading/" class ='btn' target="_blank" >Read!</a>
</div>

<h2 class = 'bold'>Have a great deals!</h2>

<h2 class ='bz'>Bitzlato Team!</h2>
